<!-- HEADER -->
<header class="header">
    <div class="mbox">
        <div class="logo">
            <div class="logo-wrap">
                <img src="images/logo.png" alt="">
                <div class="logo-title">
                    <span>Глобальные </span>
                    <span>события </span>
                    <span>и коммуникации</span>
                </div>
            </div>
            <div class="logo-rotate-text">
                <h1> ВЕСЬ спектр услуг в области событийного менеджмента</h1>
            </div>
        </div>
        <nav class="main-nav">
            <ul>
                <li data-menuanchor="firstSection">
                    <a href="#firstSection">О компании</a>
                </li>
                <li data-menuanchor="secondSection">
                    <a href="#secondSection">Цели и задачи</a>
                </li>
                <li data-menuanchor="thirdSection">
                    <a href="#thirdSection">Преимущества</a>
                </li>
                <li data-menuanchor="fourthSection">
                    <a href="#fourthSection">Клиенты</a>
                </li>
                <li data-menuanchor="fifthSection">
                    <a href="#fifthSection">контакты</a>
                </li>
            </ul>
        </nav>

    </div>
</header>
<!-- /HEADER -->

